body{
    background-color: lightyellow;
    color: darkred;
    background-image: url('./room-interior-architecture-space-indoor-concept.jpg');
    background-repeat: no-repeat;


}
h1,h2{
    padding: 5px;
    margin: 5px;
    text-decoration:blue underline wavy ;
    font-variant:initial;
    font-weight:initial;

}
.tbl td,.tbl th{
    border: 1px solid rgb(220, 134, 134);
    text-align: center;
}
a:visited {
    color:green;
}
a:link {
    color: violet;
}
a:hover {
    color: blanchedalmond;
}
header {
    background-image: url('./room-interior-architecture-space-indoor-concept.jpg');
}
.head {
    border: solid bisque 1px ;
}

.flow {
    width: 100px;
    height: 100px;
    overflow: auto;
}