body{
    background-color: lightyellow;
    color: darkred;
}
h1,h2{
    padding: 5px;
    margin: 5px;
    text-decoration:blue underline wavy ;
    font-variant:initial;
    font-weight:initial;

}
.tbl td,.tbl th{
    border: 1px solid rgb(220, 134, 134);
    text-align: center;
}